<div class="section" id="contact">
  <div class="container">
    <div class="h4 text-center mb-4 title">Certificate</div>
      <div class="card bg-white content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="row p-5">
          <div class="col-md-3 p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-primary uk-border-circle">
              <div class="card-body">
                <h5 class="card-title text-white">Neural Network and Deep Learning</h5>
                <h6 class="card-title text-lowercase text-white pull-right">-by deeplearning.ai</h6>
                <a href="https://drive.google.com/file/d/1uW8ecVdF-gy3qoy17glN-Xd_mUvTr4-_/view?usp=sharing" class="btn btn-warning text-primary ml-5">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-warning uk-border-circle">
              <div class="card-body">
                <h6 class="card-title text-white">Improving Deep Neural Networks:
                Hyperparameter tuning, Regularization and
                Optimization</h6>
                <h6 class="card-title text-lowercase pull-right">-by deeplearning.ai</h6>
                <a href="https://drive.google.com/file/d/1PYsXNGHSsPpo48L253ixYOfCPd4sB9kh/view?usp=sharing" class="btn btn-outline-secondary ml-5">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-2 mt-2" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-primary uk-border-circle">
              <div class="card-body">
                <h6 class="card-title text-white mt-2">Structuring Machine Learning Projects</h6>
                <h6 class="card-title text-lowercase text-white pull-right mt-2">-by deeplearning.ai</h6>
                <a href="https://drive.google.com/file/d/1jcknCGY8l2pREcsFGN2wwh5NkHB7uytK/view?usp=sharing" class="btn btn-warning text-primary ml-5 mt-5">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mt-3" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-warning uk-border-circle">
              <div class="card-body">
                <h5 class="card-title text-white mt-2">Convolutional Neural Networks</h5>
                <h6 class="card-title text-lowercase pull-right">-by deeplearning.ai</h6>
                <a href="https://drive.google.com/file/d/1CkE7K3gwcpbpw76uUvya5EZZtPOepWLS/view?usp=sharing" class="btn btn-outline-secondary ml-5 mt-4">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-3"  data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-primary uk-border-circle">
              <div class="card-body">
                <h4 class="card-title text-white mt-2">Sequence Models</h4>
                <h6 class="card-title text-lowercase text-white pull-right">-by deeplearning.ai</h6>
                <a href="https://drive.google.com/file/d/1Vz22VqxFgJVoO289Fu_QdYNt1QohEUQp/view?usp=sharing" class="btn btn-warning text-primary ml-5">View</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-3"  data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-warning uk-border-circle">
              <div class="card-body">
                <h5 class="card-title text-white mt-1">Introduction to Git</h5>
                <h6 class="card-title text-lowercase pull-right">-by Datacamp</h6>
                <a href="https://drive.google.com/file/d/1bPx3m34FV212PfUZUyaIldcqgRABvnpH/view?usp=sharing"
                  class="btn btn-outline-secondary ml-5 mt-3">View</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-primary uk-border-circle">
              <div class="card-body">
                <h5 class="card-title text-white mt-1">Internal Smart India Hackathon</h5>
                <h6 class="card-title text-lowercase text-white pull-right">-by AICTE</h6>
                <a href="https://drive.google.com/file/d/1Yenll0eUaPEx_5tyWlhXmFzMW0HXNFm2/view?usp=sharing"
                  class="btn btn-warning text-primary ml-5 mt-5">View</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 mt-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card bg-warning uk-border-circle">
              <div class="card-body">
                <h6 class="card-title text-white">Smart India Hackathon Finalist</h6>
                <h6 class="card-title text-lowercase pull-right">-by AICTE</h6>
                <a href="https://drive.google.com/file/d/1iJAFj1FDkkZKzjQmqHc8R5tDU1BtJsLi/view?usp=sharing"
                  class="btn btn-outline-secondary ml-5 mt-5">View</a>
              </div>
            </div>
          </div>


          <!-- <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="assets/images/Bot.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Autonomous Bot</h4>
                <h5 class="card-text"><b>Technology :</b> C++, Arduino</h5>
                <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
  </div>


  <!-- <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-body">
                          <form name="form" (ngSubmit)="f.form.valid ; f.resetForm()" #f="ngForm" novalidate>
                            <div class="p pb-3">
                              <strong>Feel free to contact me </strong>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-user-circle"></i>
                                  </span>
                                  <input class="form-control" type="text" name="name" placeholder="Name"
                                    [(ngModel)]="model.name" #name="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-file-text"></i>
                                  </span>
                                  <input class="form-control" type="text" name="subject" placeholder="Subject"
                                    [(ngModel)]="model.subject" #subject="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                  </span>
                                  <input class="form-control" type="text" name="email" placeholder="E-mail"
                                    [(ngModel)]="model.email" #email="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message"
                                    [(ngModel)]="model.message" #message="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button class="btn btn-primary" type="submit">Send</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <p class="mb-0">
                            <strong>Phone</strong>
                          </p>
                          <p class="pb-2">+91 9974990993</p>
                          <p class="mb-0">
                            <strong>Email</strong>
                          </p>
                          <p>mehulkothari05@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

<!--
      <ng-snotify class="material"></ng-snotify> -->
