<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - Current</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor in Computer Engineering</div>
               <h4 class="category">Modern Education Society's College of Engineering
               </h4>
               <ul>
                 <li>Pursuring B.E in Computer Engineering with <b>8.77 SGPA</b>.</li>
                 <li>Accredited by<b> NAAC</b></li>
                 <li>Maintained above <b>8.0 spi</b> in every semester of college academic.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2018</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diploma in Computer Science</div>
               <h4 class="category">Government Polytechnic Pune
               </h4>
               <ul>
                <li>
                  Government Polytechnic Pune ranks 1st in Diploma Colleges in Pune.
                                  </li>
                                  <li>
                                    Learned various skills of programming and Team work.
                                  </li>
                                  <li>
                                      Completed Diploma with<b> 80.20%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2015</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Agrasen High School
               </h4>
               <ul>
                <li>Learned basic subjects and manner whic plays important role in my Life.
                </li>

                <li>
                    Completed my Secondary school with <b>85.40%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
