<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

     <div class="row">


       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Sentiment.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Sentiment Analysis for code-mixed Languages(Smart India Hackathon 2020)</h4>
          <h5 class="card-text"><b>Technology :</b> HTML, CSS, Python,Django, Tensorflow, Keras</h5>
            <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>

          <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>

        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/Ercess-Live.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Ercess-live Website</h4>
           <h5 class="card-text"><b>Technology :</b> Angular js, Django, Bootstrap Material, Bitbucket </h5>

            <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>
        </div>
    </div>
    </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Institute.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Institution Management Portal</h4>
          <h5 class="card-text"><b>Technology :</b> Angular 8, NodeJS, Bootstrap, MongoDB Atlas </h5>
            <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>
          <a href="https://github.com/mehulk05/Matrimonial-Website" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/Bot.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Autonomous Bot</h4>
           <h5 class="card-text"><b>Technology :</b> C++, Arduino</h5>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>


    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/s1.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Stegonography App</h4>
           <h5 class="card-text"><b>Technology :</b>Java, Android</h5>
          <a href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Voice controlled Messaging App</h4>
           <h5 class="card-text"><b>Technology :</b> Android, Java</h5>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
  </div>
