<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img class="border-top" src="assets/images/img2.png" alt="Image" height="250" width="200"/>
              </a>
            </div>
            <div class="h2 title">Tejashree Rajendra Salvi</div>
            <p class="category text-white">Developer || Learner || Gardener</p>
            <a class="btn btn-primary"
              href="https://drive.google.com/file/d/1Vq5wPtfTASi1BQEEgZN7xc0z9ViXvScx/view?usp=sharing" target="_blank"

              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/tejashree-salvi-003aa2195/"
                target="_blank" rel="tooltip" title="Connect on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/tejashreeSalvi"
                target="_blank" rel="tooltip" title="Check out Github Repo">
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1" d="M0,256L1440,128L1440,320L0,320Z"></path>
          </svg>
  </div>

